﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageTitle.ascx.cs" Inherits="Controls_PageTitle" %>
<div id="title-bar">
    <h2>
        <span class="favorite-id">
            <%=pgTitle %></span> 

           <span id="addFavDiv<%=pageId %>"  <%=myFav %> >
            <a onclick="addToFavorite(<%=pageId %>,2)"  title="Add <%=pgTitle %> to My Resources" class="favorite" style="cursor:pointer" >Add <span class="favorite-id-title"><%=pgTitle %></span>to My Resources</a>
                </span>

               <span id="removeFavDiv<%=pageId %>"   <%=notFav %>> 
            <a  onclick="deleteFavorite(<%=pageId %>,2)"   title="Remove <%=pgTitle %> from My Resources" class="favorite favorite_on" style="cursor:pointer" >Remove <span class="favorite-id-title"><%=pgTitle %></span>from My Resources</a>
            </span>

                    



                </h2>
</div>
